.content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: 100%;
      max-width: 800px;
      padding-top: 20px;
      padding-bottom: 200px;
      margin: 0 auto;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: none;
      -ms-overflow-style: none;
}

.titleContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
}

.title {
      font-size: 20px;
      font-weight: bold;
      margin: 10px auto;
      padding-left: 35px;
      padding-bottom: -90px;
      width: 100%;
      max-width: 800px;
      text-align: left;
      color: rgb(30, 25, 107);
}

.productCard {
      width: 100%;
      max-width: 110px;
      min-width: 60px;
      height: 120px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: rgb(254, 249, 245);
      padding: 10px;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productCard:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.productImage {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 10px;
}

.productCard h2 {
      font-size: 11px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px;
      max-width: 120px;
      color: black;
}

.content::-webkit-scrollbar {
      display: none;
}
