.optionsContainer {
      padding: 10px;
      margin: 0 auto;
      max-width: 700px;
      padding-bottom: 40px;
}

.optionsGroup {
      margin: 0 auto;
      text-align: center;
}

.optionTitle {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
}

.radioGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 10px;
      margin-left: 55px;
      justify-content: center;
      align-items: center;
}

.strengthOptions .optionItem {
      font-size: 14px;
      align-items: center;
      font-weight: 500;
      margin-right: 20px;
}

.optionItem,
.optionItem2,
.optionItem3 {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      cursor: pointer;
}

.radioInput {
      display: none;
}

.customRadio {
      height: 17px;
      width: 17px;
      border-radius: 50%;
      border: 2px solid rgb(30, 25, 107);
      position: relative;
      display: inline-block;
}

.radioInput:checked + .customRadio::after {
      content: "";
      position: absolute;
      top: 2.4px;
      left: 2.4px;
      height: 8.2px;
      width: 8.2px;
      background-color: #321d6b;
      border-radius: 50%;
}

.optionLabel {
      display: flex;
      align-items: center;
      line-height: 0.2;
      gap: 4px;
}

.extraCost {
      display: block;
      align-items: center;
      font-size: 9.8px;
      line-height: normal;
}
