.nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      width: 321px;
      background-color: white;
      left: 0;
}

.button {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: -10px;
      margin-right: 20px;
}

.logoContainer {
      display: flex;
      align-items: center;
}

.logo img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: orange;
      margin-right: 5px;
}

.logoText {
      font-weight: bold;
      margin-right: 30px;
}
