.statusBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      background-color: white;
      font-size: 14px;
      font-weight: bold;
      padding: 0 20px;
}

.time {
      font-size: 18px;
      margin-left: 40px;
}

/* Icons */
.icons img {
      width: 170px;
      height: 50px;
      margin-left: 70px;
}

.title {
      font-size: 18px;
      margin-bottom: 40px;
      font-weight: bold;
      text-align: center;
}
