.mobileFrame {
      background-color: #ffffff;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

.container {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 321px;
      background: linear-gradient(to bottom, #ff6600, #ffcc00);
      overflow-y: auto;
}

/* Roughly Tablet size */
@media (min-width: 768px) {
      .container {
            max-width: 768px;
      }
}

/* Desktop size */
@media (min-width: 1024px) {
      .container {
            max-width: 1024px;
      }
}
