.wrapped {
      width: 100%;
      height: 180px;
      background-color: rgb(236, 236, 243);
}

.productLayout {
      display: flex;
      justify-content: start;
      gap: 40px;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding-top: 40px;
      box-sizing: border-box;
}

.productImage {
      width: 20%;
      margin-left: 40px;
      /* padding: 10px; */
}

.productImage img {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      margin-right: 40px;
      object-fit: contain;
}

.productDetails {
      width: 70%;
      margin-left: 20px;
      margin-right: 20px;
}

.productDetails h1 {
      font-size: 16px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      text-align: left;
      margin-bottom: 10px;
}

.productDetails p {
      font-size: 11.5px;
      color: rgb(2, 2, 2);
      font-weight: 500;
      text-align: left;
      margin-bottom: 20px;
}

h3 {
      display: flex;
      text-align: center;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 20px;
}

/* Cancel & Add to Cart Button Stuff Below */
.actionButtons {
      display: flex;
      margin: 0 auto;
      width: 80%;
      max-width: 900px;
      min-width: 30%;
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 40px;
}

.centerGap {
      width: 20px;
      flex-shrink: 0;
}

.addToCartButton {
      background: linear-gradient(135deg, rgb(30, 25, 107), rgb(94, 87, 190));
      color: white;
      flex: 1;
      width: 50%;
      min-width: 30%;
      flex-shrink: 0;
      padding: 8px 20px;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      outline: none;
}

.cancelButton {
      background-color: #ffffff;
      color: rgb(30, 25, 107);
      border: 2px solid rgb(30, 25, 107);
      flex: 1;
      width: 50%;
      flex-shrink: 0;
      padding: 8px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      outline: none;
}
